/* General font size */
body {
    font-size: 19px;
}
/* Tabl positioning */
table{
    font-size: 16px;
    width: 70%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
    background: #ebf9ff;
}
/* inner table colours */
tr {
    border-left: 3px solid #424242;
    border-right: 3px solid #424242;
    border-bottom: 3px solid #424242;
    border-top: 3px solid #424242;
    background: #ebf9ff;
}
/* outer table border */
th, td{
    border: #3B3B3B;
    height: 30px;
    padding: 2px;
}
/* hover colour */
tr:hover {
    background: #30d5c8;
}
/* search bar positioning */
form1 {
    width: 45%;
    margin: 30px auto;
    text-align: left;
    padding: 10px;  
}


/* general form colour, shape and position */
form {
    width: 45%;
    margin: 30px auto;
    text-align: center;
    padding: 10px; 
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.877);
    
	border: 4px double #015c63; 
}

/* general input group outer margin */
.input-group {
    margin: 10px 0px 10px 0px;
}
/* general input group text features */
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    text-align: center;
}

/* general input group size and colour */
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid #0CC;
    text-align: center;
}

.input-group select {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid #0CC;
    text-align: center;
}

.input-group textarea {
    height: 200px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    border: 3px solid #0CC;
}

.star-rating {
   margin: 25px 0 0px;
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 175px;
  height: 35px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}


/* general button features */
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: #000;
    border-radius: 2px;
	text-align: center;
}
/* edit button features */
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 2px;
}
/* delete button features */
.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
/* message box design */
.message {
    margin: 30px auto; 
    padding: 10px; 
	font-size: 17px;
    border-radius: 25px; 
    color: #333; 
    background: #0CC; 
	border: 1px dotted #060;
    width: 50%;
    text-align: center;
}
